* {
  all: unset; // Unsets everything so you can style everything from scratch
}

$background: #000000;
$foreground: #ffffff;

$black: #000000;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #00ccff;
$white: $foreground;

// Global Styles
.bar {
  border-radius: 15px;
  background-color: $black;
  color: $white;
  padding: 5px;
}

.workspaces button:hover {
  color: $cyan;
}

#workspaces button

.powermenu {
  background-color: $black;
  //border-radius: 15px;
  //box-shadow: 10 10 10px rgba(255, 0, 0, 0.5);
}

.powermenu button {
  font-size: 15px;
  color: $white;
  background: transparent;
  border: none;
  padding: 5px
}

.powermenu button:hover {
  color: $cyan;
}

// Calendar
.cal-box {
  background-color: $black;
  font-family: Comic Mono;
  font-size: 1em;
  font-weight: bold;
  .cal-inner-box {
      padding: 1rem 1rem .2rem;
      background-color: $black;
      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

calendar:selected {
  color: $blue;
}

calendar.header {
color: $blue;
font-weight: bold;
}

calendar.button {
color: $magenta;
}

calendar.highlight {
color: $magenta;
font-weight: bold;
}

calendar:indeterminate {
color: $gray;
}

.time {
  font-family: "Iosevka Nerd Font";
  font-size: 1.2em;
  font-weight: bold;
  color: $foreground;
  padding: 0 10px;
}

.volume-icon{
  margin: .2rem 0 .2rem 0;
  color: $green;
}